.firstpageContainer {
	display: grid;
	grid-template-columns: 60% 40%;
	background-color: whitesmoke;
	padding: 10px;
  height: 600px;
  
}

.welcome {
  background-image: linear-gradient(to right,green, yellow);

  color:black;
  display: flex;
	align-items: center;
  justify-content: center;
  padding: 10px;
}
.signFirstPage{
  display: flex;
	align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: beige;
  flex-direction: column;
}

.signInContainer{
  display: flex;
	align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color:white;
  padding: 20px;
  width: fit-content;
  margin-left: 10px;
}
.signInForm{
  display: flex;
	align-items: center;
  justify-content: center;
  flex-direction: column;
}
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h1{
  font-weight: 600;
  
}
input[type=submit]{
  background-color: green;
  color:white;
  padding: 5px;
  border-radius: 6px;
}