body{
  margin: 0;
}
html {
  width: 100%;
  height: 100%;
  clip: auto;
  position: absolute;
  overflow: hidden;
  }
.App{
  font-family: Arial, Helvetica, sans-serif;
}
.firstpageContainer {
	width: auto;
	display: grid;
	grid-template-columns: 60% 40%;
	background-color: whitesmoke;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.welcome {
	background-image: linear-gradient(to bottom right, green, rgba(14,87, 14,0.5));
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
.welcomeContent >div{
  display: flex;
}
.signFirstPage {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background-color: rgba(0, green, 0, 0);
	flex-direction: column;
}

.signInContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background-color: white;
	padding: 20px;
  width: 70%;
  height: 70%;
  margin-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.signInContainer:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.signInForm {
	display: flex;
	align-items: center;
  flex-direction: column;
}


input[type=text] {
	width: 120%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}
input[type=password] {
	width: 120%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

h1 {
	font-weight: 600;
}
input[type=submit] {
	background-color: green;
	color: white;
	padding: 5px;
  border-radius: 12px;
  border-style: none;
  width: 120%;
  font-size: 16px;
  height: 40px;
}
a {
	color: green;
	font-weight: bold;
}
label{
  text-align: left;
  display: inline-block;
}

input::placeholder{
  font-size: 16px;
}